body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.text-section {
    max-width: 50%;
    text-align: left;
}

.text-section h1 {
    font-size: 36px;
    font-weight: bold;
}

.text-section p {
    font-size: 18px;
}

.text-section .highlight {
    background-color: yellow;
    padding: 2px 6px;
    border-radius: 4px;
}

.upload-section {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.upload-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.upload-button:hover {
    background-color: #0056b3;
}

.file-dropzone {
    position: fixed;
    inset: 0;
    z-index: 6000;
    background: rgba(102,74,0,.8);
    text-align: center;
    padding-top: 45vh;
    color: #fff
}

@media (max-width: 750px) {

    .text-section {
        max-width: 100%;
    }

    .upload-section {
        margin: 0 auto;
    }

}